body{
    display: block;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    height: 3.5rem;
}
#logo{
    position: absolute;
    left: 1em;
    height: 3em;
}
#navbar{
    position: absolute;
    right: 2em;
}
#navbar>li{
    display: inline-block;
    margin-left: 1em;
    padding: 5px;
}
.nav-btn>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
.nav-btn:hover{
    background: rgba(145, 133, 133, 0.3);
    border: #39454b;
    border-radius: 5px;
    /*box-shadow: 0 0 0.15em 0 rgba(255, 255, 255, 0.9);*/
    
}
#intro, #one, #two, #work {
    position: relative;
    top: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#hey{
    font-size: 3rem;
}
#intro{
    color: #fff;
    height: 20rem;
    padding: 10em;
    background: url(/images/overlay.png), url(/images/intro.jpg);
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
}
#btn-down{
    display: inline-block;
    padding: 12px;
    background: rgba(57, 69, 75, 0.25);
    border-radius: 20em;
}
#btn-down:hover{
    background: rgba(57, 69, 75, 0.5);
}
#one{
    background: url(/images/one.jpg) no-repeat fixed;
}
#two{
    background: url(/images/two.jpg) no-repeat fixed;
}
#one, #two{
    padding: 18em 20%;
}
#one>div, #two>div{
    padding: 10px;
    background: rgb(255, 255, 255);
}
#one>div:hover, #two>div:hover{
    background: rgb(222, 222, 226);
    /*box-shadow: 5px 5px 2px 1px #d4dadd7a;*/
}
#work{
    display: block;
    background: #fff;
}
#contact{
    display: flex;
    position: relative;
    margin: 0;
    background: #eee ;
    padding: 3em 0 3em 0;
    overflow: hidden;
}
.main > .content {
    width: 45em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}
.box{
    background: #fff;
    color: #39454b;
}
form > .fields{
    flex-wrap: wrap;
    width: calc(100% + 3em);
    margin: -1.5em 0 2em -1.5em;
}

