@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --text-color: #333;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: .125rem solid #00abf0;
  --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
  --border-rounded: 50%;
  --border-sm: .5rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0a303f;
}

.wrapper {
  position: relative;
  width: 80vw;
  height: 70vh;
  background: red;
}

.cover {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: var(--border-sm);
  border-top-left-radius: var(--border-sm);
  transform-origin: right;
}

.cover-right.turn{
  transform: rotateY(180deg);
}